*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
}

/* ---Nav-bar CSS Star--- */

/* Navbar */
.navbar{
    background-color: #fff;
    height: 90px;
    border-radius: 0px 0px 30px 30px;
    padding: 0.5rem;
}

/* login button */
.login-button{
    background-color: #249db6;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 20px;
    /* border-radius: 50px; */
    text-decoration: none;
    transition: 0.3s background-color;
}
.login-button:hover{
    background-color:  #365fa0;;
}

/* Navbar Menu */
.nav-link{
    color: #365fa0;
    font-weight: 700;
    font-size: 18px !important;
    position: relative;
}
.nav-link:hover, .nav-link.active{
color: #249db6;
}

@media (min-width:991px){
.nav-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width:0;
    height: 2px;
    background-color: #009970;
    visibility: hidden;
    transition: 0.3s ease-in-out;

}
.nav-link:hover::before, .nav-link.active::before {
    width: 100%;
    visibility: visible;
}
} 

/* ---Nav-bar CSS End--- */

/* -------Footer Part CSS Start------- */

.footer-bg-color{
    background-color: #2a3240;
}

.footer-logo{
    display: flex;
    align-items: center;
}
.footer-border-right{
    border-right: 2px solid #249db6;
}
.footer-heading-font-size{
    font-size: 18px !important;
    font-weight: 700 !important;
}

/* social media link start */
.all-socail-logo {
    display: flex;
}

.social-logo a {
    padding: 10px;
    background-color: #bbf002;
    color: blue;
    margin-left: 8px;
    border-radius: 3px;

}

.social-logo{
    transition: all 0.4s;
    padding: 4px;
}

.all-socail-logo .social-logo:hover{
 transform: scale(1.5);
 
}

/* Social media link end */

/* Quick links start */

.quick-link ul li {
    list-style: none;
    padding: 3px;
}

.quick-link ul li a {
    text-decoration: none;
    color: white;
}
.quick-link ul li a:hover {
    color: #249db6;
    transition: all 0.5s ease;
}

/* Quick links end */

/* Contact Info start  */

.contact-info {
    display: flex;

}

.contact-icon a {
    color: white;
    margin-right: 10px;
}
.contact-address a {
    color: white;
}

/* Contact Info end */


/* -------Footer Part CSS End------- */

/* ---Welcome Part CSS Start--- */

.background-pic{
    
    background-image: url(../images/bannerhomeuia.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -50px;
    margin-top: 90px;
}

.welcome-title{
    font-weight: 700;
    color: #fff;
    font-size: 40px;
}

/* ---Welcome Part CSS End--- */