*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
}

.text-heading-color{
    color: #365fa0;
}
.back-color{
background-color: #249db6;
}
/* ---Nav-bar CSS Star--- */

/* Navbar */
.navbar{
    background-color: #fff;
    height: 90px;
    border-radius: 0px 0px 30px 30px;
    padding: 0.5rem;
}

/* login button */
.login-button{
    background-color: #249db6;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 20px;
    /* border-radius: 50px; */
    text-decoration: none;
    transition: 0.3s background-color;
}
.login-button:hover{
    background-color:  #365fa0;;
}

/* Navbar Menu */
.nav-link{
    color: #365fa0;
    font-weight: 700;
    font-size: 18px !important;
    position: relative;
}
.nav-link:hover, .nav-link.active{
color: #249db6;
}
a.nav-link.mx-lg-2.active {
    color:#249db6 ;
}
a.nav-link.mx-lg-2.active:hover {
    color: #365fa0 ;
}
@media (min-width:991px){
.nav-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width:0;
    height: 2px;
    background-color: #365fa0;
    visibility: hidden;
    transition: 0.3s ease-in-out;

}
.nav-link:hover::before {
    width: 100%;
    visibility: visible;
}
} 
.dropdown-menu{
    border-radius: none;
}

.dropdown-item{
    font-size: 16px !important;
}
.dropdown-menu.show {
    margin-top: 23px;
    border-top: 4px solid #249db6;
    border-bottom: 4px solid #249db6;
    padding: 5px;
    
}
a.nav-link.mx-lg-2.dropdown-toggle.show {
    color: #249db6;
}

/* ---Nav-bar CSS End--- */

/* -------Footer Part CSS Start------- */

.footer-bg-color{
    background-color: #2a3240;
}

.footer-logo{
    display: flex;
    align-items: center;
}
.footer-border-right{
    border-right: 2px solid #249db6;
}
.footer-heading-font-size{
    font-size: 18px !important;
    font-weight: 700 !important;
}

/* social media link start */
.all-socail-logo {
    display: flex;
}

.social-logo a {
    padding: 10px;
    background-color: #bbf002;
    color: blue;
    margin-left: 8px;
    border-radius: 3px;

}

.social-logo{
    transition: all 0.4s;
    padding: 4px;
}

.all-socail-logo .social-logo:hover{
 transform: scale(1.5);
 
}

/* Social media link end */

/* Quick links start */

.quick-link ul li {
    list-style: none;
    padding: 3px;
}

.quick-link ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    transition: all 0.5s ease;
}
.quick-link ul li a:hover {
    color: #249db6;
    
}

/* Quick links end */

/* Contact Info start  */

.contact-info {
    display: flex;

}

.contact-icon a {
    color: white;
    font-size: 15px;
    margin-right: 10px;
    transition: all 0.5s ease;
}
.contact-icon a:hover {
    color:#249db6;
    
}
.contact-address a {
    color: white;
}

/* Contact Info end */

/* ---Footer lower title start --- */

.footer-lower-title{
  font-size:13px ;
}

/* Footer lower title end */

/* -------Footer Part CSS End------- */

/* -----Welcome Part CSS Start----- */

   /* Background Image Start */

.background-pic {
    background-image: url(../images/bannerhomeuia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 90px;
    height: 455px;
    position: relative;
}

.welcome-title{
    font-weight: 700;
    color: #fff;
    font-size: 33px;
    font-style: italic;
}

/* learn more button */
.learn-button{
    border: 1px solid #fff;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 20px;
    /* border-radius: 50px; */
    text-decoration: none;
    transition: 0.3s background-color;
}
.learn-button:hover{
    background-color:  #fff;
    color:#365fa0 ;
}
.wc-photo-bg-color {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;

}

  /* Background Image End */

   /* Welcome link Icon Start */

.wc-icons-position{
    position: absolute;
    top: 470px;
}

.wc-icons {
    height: 45px;
    color: #249db6;
}


.wc-icons-title a {
    text-decoration: none;
}

.wc-icons-bg {
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}
.wc-icons-title a:hover{
    background-color: #249db6;
}

.wc-icons-title a:hover span {
    color: #fff;
}
.wc-icons-title a:hover .wc-icons{
    color: #fff;
}
.wc-icons-title a span {
    font-size: 15px;
    color: #365fa0;
    font-weight: 600;
}

    /* Welcome link Icon Start */
/* -----Welcome Part CSS End----- */

/* -----News card and notice board part CSS start---- */

.bg-body-color{
    background-color: #ecedf2;
}
.bg-body-color-angle-bottom{

    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-left: 460px solid red;
    border-bottom: 40px solid transparent;
    position: absolute;
    left: 0;
    bottom: -40px;
    /* width: 100%;
    height: 175px;
    background: #ffffff;
    background: linear-gradient(-5deg, #ffffff 0%, #ffffff 50%, #ecedf2 51%, #ecedf2 100%);  */
}

/* News card part start  */
.card-img-top{
    width: 300px !important ;
    height:200px !important ;
}

.margin-top{
    margin-top: 200px;
}
/* .news-title-border{
    position: relative;
    top: 50%;
    border-bottom:5px 3px solid red;
} */
.title-color{
    color: #365fa0;
    font-weight: 700;
}
.news-heading-border{
    border-top: 4px solid #249db6;
    border-radius: 0px !important;
    

}
.news-photo-border{
    border-radius: 0px !important;
    border-color: none !important;
    overflow: hidden;
    
}
/* .news-photo-tag{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 20px;
    width: 80px;
    background: #249db6;
    color: #fff;
    font-size: 12px;
    border-radius: 0px 3px 0px 0px;
   
} */

.ria-medam:hover .news-photo-border img {
    transform: scale(1.5);
}


.bg-news{
    background-color: #249db6;
}

.border-news{
    border-bottom: 5px solid #249db6;
}
.news-photo-border img{
    transition: .8s !important;
}

/* News card part end  */

/* notice board start */
.notice-board{
width: 100%;
transition:all 0.3s ;
}

.notice-board:hover{
    background-color: #365fa0;
}

.notice-board .news-date{
    color: #bbf002;
    font-size: 13px;
}

/* notice board end */

/* -----News card and notice board part CSS end---- */


/* -----social media link for leftbar CSS start---- */

body .social-logo-leftbar{
    position: fixed;
    top: 50%;
    left: 0;
}

.all-leftbar-socail-logo {
    display: flex;
    flex-direction: column;
}

.social-leftbar-logo a {
    padding: 10px;
    background-color: #fff;
    color: blue;
    border-radius: 3px;
    margin-bottom: 8px !important;
    border: 1px solid #249db6;
    transition: all 0.4s;
}
.social-leftbar-logo a:hover{
    background-color: #bbf002;
    
}

.social-leftbar-logo{ 
    padding: 10px;
}

/* ----Social media link for liftbar CSS end---- */

/* ----Events part CSS start---- */

.event-photo{
    position: relative;
}
.event-photo-tag{
    position: absolute;
    top: 0px;
    left: 0px;
    height: auto;
    width: auto;
    background: #249db6;
    color: #fff;
    font-size: 12px;
    
    
}
.pen-icon-position{
    position: relative;
}
.pen-icon{
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: auto;
    width: auto;
    background: #249db6;
    color: #fff;
    font-size: 16px;
    
    
}
.address{
    color: #249db6;
    font-size: 13px;
}
.seminar-heading{
    color: #000000;
}

/* ----Events part CSS end---- */

/* -----Actions Section CSS Start----- */


.action-card-tag{
    position: absolute;
    top: 0px;
    left: 0px;
    height: auto;
    width: 100%;
    background: #249db6;
    color: #fff;
    font-size: 12px;
    
    
}
.plus-icon-position{
    font-size: 24px ;
    color: #fff;
    text-align: center;
    width: 20px;
    height: 20px;
    background: #365fa0;
    border-radius: 50%;
    position: absolute; 
    bottom: -18px;
    left: 50%;
    margin-left: -18px;
    
}
.text-sub-heading-color{
color: gray;
}
.col-md-3.col-12.bg-white.p-4.position-relative{
    transition: all 0.5s;
}

.col-md-3.col-12.bg-white.p-4.position-relative:hover {
    box-shadow: 0 0 11px gray;
    
}
.col-md-3.col-12.bg-white.p-4.position-relative:hover .plus-icon-position {
    background: #249db6;
    transform: scale(1.2);
}
.transition-actions {
    transition: all 0.5s ease-in-out;
}


/* -----Actions Section CSS End----- */

/* ------Testimony Section CSS Start----- */

.testimony-position{
    margin-top:40px ;
}
.testimony-text-bg{
   width:460px ;
   height: 425px;
   background: #365fa0;
   padding:50px ;
   position: absolute;
   top: -40px;
    left: 0px;
   

}
.photo-title {
    max-width: 300px;
    background: #fff;
    position: absolute;
    padding: 20px;
    font-size: 14px;
    border-left: 5px solid #bbf002;
    right: 30px;
    bottom: 30px;
}
.caption-heading{
    font-weight: 700;
    color: #365fa0;

}

 .triangle-top{
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-right: 460px solid #365fa0;
    border-bottom: 10px solid transparent;
    position: absolute;
    right: 0;
    top: -40px;
 }


 .triangle-bottom {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 460px solid #365fa0;
    border-bottom: 40px solid transparent;
    position: absolute;
    left: 0;
    bottom: -40px;
}

.triangle-left {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 224px solid #bbf002;
    border-bottom: 125px solid transparent;
    position: absolute;
    left: 0;
    bottom: 0;
}


/* ------Testimony Section CSS End----- */

/* ------owl-carousel-1 css Start------  */

/* body{
    display: flex;
    align-items: center;
    min-height: 100vh;
} */

.wrapper{
    width: 100%;

}

.wrapper .carousel {
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;

}

.carousel .carder{
    /* background: red; */
    width: 100%;
    
    text-align: center;
    
    font-size: 18px;
    font-weight: 600;
    
    border-right: 3px solid #bbf002;
   
}

.icon-bg{
    width: 145px !important;
    height: 145px !important;
    background-color: #ecedf2;
    border-radius: 50%;
    color: #249db6;
    transition: all 0.3s ease-in-out;

}
.carder.card-1:hover .icon-bg {
    background-color:  #365fa0;
}

.arrow-icon {
    width: 70px;
    height: 70px;
    background: #249db6;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
}

.arrow-icon.icon-1 {
    position: absolute;
    right: -35px;
    top: 40%;
    transition: all 0.3s ease-in-out;
}
.arrow-icon.icon-1:hover{
    background-color:  #365fa0;

}
.arrow-icon.icon-2 {
    position: absolute;
    left: -35px;
    top: 40%;
    transition: all 0.3s ease-in-out;
}
.arrow-icon.icon-2:hover{
    background-color:  #365fa0;

}
/* join button CSS start  */

.join-button {
    
    text-decoration: none;
    transition: 0.3s background-color;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    background-color:  #365fa0;
    padding: 8px 20px;
    height: 62px;
    width: 220px;
    
}
.join-button:hover{
    background-color:  #249db6;
    
}

/* join button CSS end  */



/*----- owl-carousel-1 css End ----- */


.transition-actions {
    transition: all 0.5s ease-in-out;
}

/* ----------about us section one css start---------  */

.about-back-img{
    /* background-image: url(../images/about-1.png); */
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center center;
    margin-top: 90px;
    
    position: relative;
}

.padding-bottom{
    padding-bottom: 55px;
    min-height:900px ;
}

.about-position {
    top: -235px;
    border-top:4px solid #365fa0;
    border-bottom:4px solid #365fa0;
    position: absolute;
    padding: 80px 100px;
}



/* --print and share icon css start-- */

.icon-bar {
    position: absolute;
    top: -235px;
    right: 100px; 
}
.icon-bar ul {
    list-style: none;
}
.icon-bar ul li {
    width: 50px;
    height: 50px;
    background: #365fa0;
    margin-bottom: 1px;
}
.icon-bar ul li a {
    font-size: 20px;
    color: #fff;
    padding: 10px 16px;
    transition: all 0.5s ease-in-out;

}

.icon-bar ul li a:hover {
    background: #249db6;
}
ul.share-list{
    position: absolute;
    left: 12px;
    top: 105px;
}

ul.share-list li{
background: #fff;
margin-bottom: 1px;


}
ul.share-list li a{
    color: #365fa0;
}


/* --print and share icon css end-- */

/* --content menu start -- */

.tab-content-menu ul li{
    width: 100%;
    height: auto;
    background: #ecedf2;
    transition: all 0.5s ease-in-out;
}
.tab-content-menu ul li a {
    font-size: 16px;
    text-decoration: none;
    color:black;
    padding: 13px 17px;
    display: block;
}
.tab-content-menu ul li a:hover {
    color: white;
    background: red;
}

.tab-content-menu ul{
    list-style: none;
}
.tab-content-menu {
    position: fixed;
    left:200px;
    top: 568px;
    
}
/* --content menu end -- */

/* ---------about us section one css end--------------  */



